<nav>
    <div class="site-title">
        <a href="/"><h1>Web15-Blogs 2025</h1></a>
        <p>Parhaat blogit 'ever'</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>        
        <li><a href="/blogs/create">New Blog</a></li> 
    </ul>
</nav>