<html>

<body>
    <form method="post" action="/login">
        <label for="name">Name:</label><br>
        <input type="text" name="name" value="WWW"><br><br>
        <input type="submit" value="Login">
    </form>
</body>

</html>